<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta">
      <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name"><% if (page.author) { %><%- page.author %><% } else { %><%- config.author %><% } %></span>
      </span>
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <%- partial('_partial/post/category') %>
      <%- partial('_partial/post/tag') %>
      <br>
      <%- readingTime(page.content) %>
    </div>
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>

  <section id="mailing-list">
    <script>
      (function (w, d, e, u, f, l, n) {
        w[f] = w[f] || function () {
          (w[f].q = w[f].q || [])
            .push(arguments);
        }, l = d.createElement(e), l.async = 1, l.src = u,
          n = d.getElementsByTagName(e)[0], n.parentNode.insertBefore(l, n);
      })
        (window, document, 'script', 'https://assets.mailerlite.com/js/universal.js', 'ml');
      ml('account', '363715');
    </script>

    <a class="ml-onclick-form" style="text-align: center;" href="javascript:void(0)" onclick="ml('show', 'A1mfRe', true)">Join our mailing list!</a>
  </section>

  <% if (theme.firebase_like_button.enabled && page.id) {%>
  <style>
    .btn {
      border: none;
      background-color: inherit;
      padding: 5px 5px;
      font-size: inherit;
      cursor: pointer;
      display: inline-block;
      color:inherit;
    }
    .btn:hover {color: aqua;}
  </style>
  <br>
  <button id="likeButton" type="button" class="btn" onclick="like()">
    <i class="fas fa-thumbs-up"></i>
  </button> <span id="likeCountDisplay"></span>
  <script>
    function like() {
      firebase.database().ref('/likes')
        .child("<%- page.id %>")
        .set(firebase.database.ServerValue.increment(1),
          function (error) {
            if (error) {
              console.error("likeButton error: " + error);
            }
          });
      document.getElementById("likeButton").disabled = true;
      document.getElementById("likeButton").style.color = "aqua";
    }
    var likeCountRef = firebase.database().ref('likes/' + "<%- page.id %>");
    likeCountRef.on('value', (snapshot) => {
      const n = snapshot.val();
      document.querySelector('#likeCountDisplay').innerHTML = n;
    });
  </script>
  <% } %>

  <% if (page.enable_comments && theme.utteranc_comments.enabled) { %>
    <script src="https://utteranc.es/client.js"
        repo="<%- theme.utteranc_comments.github_repo %>"
        issue-term="pathname"
        label="blog-post-cmts"
        theme="dark-blue"
        crossorigin="anonymous"
        async>
    </script>
  <% } %>
</article>
<%- partial('_partial/comments') %>
