<head>
    <!-- so meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
    <%- open_graph({
        image:          thumbnail(page),
        fb_app_id:      theme.open_graph.fb_app_id,
        fb_admins:      theme.open_graph.fb_admins,
        twitter_id:     theme.open_graph.twitter_id,
        google_plus:    theme.open_graph.google_plus,
    }) %>
    <%- meta(page) %>
    <% if (theme.favicon) { %>
      <% if (theme.favicon.desktop) { %>
        <% if (theme.gravatar && (theme.gravatar.email || theme.gravatar.hash) && theme.favicon.desktop.gravatar) { %>
          <% if (theme.gravatar.email) { %>
            <link rel="shortcut icon" href="<%= gravatar(theme.gravatar.email, 48) %>">
          <% } else { %>
            <link rel="shortcut icon" href="https://www.gravatar.com/avatar/<%= theme.gravatar.hash %>?s=48">
          <% } %>
        <% } else { %>
          <link rel="shortcut icon" href="<%= url_for(theme.favicon.desktop.url) %>">
        <% } %>
      <% } %>
      <% if (theme.favicon.android) { %>
        <% if (theme.gravatar && (theme.gravatar.email || theme.gravatar.hash) && theme.favicon.android.gravatar) { %>
          <% if (theme.gravatar.email) { %>
            <link rel="icon" type="image/png" href="<%= gravatar(theme.gravatar.email, 192) %>" sizes="192x192">
          <% } else { %>
            <link rel="icon" type="image/png" href="https://www.gravatar.com/avatar/<%= theme.gravatar.hash %>?s=192">
          <% } %>
        <% } else { %>
          <link rel="icon" type="image/png" href="<%= url_for(theme.favicon.android.url) %>" sizes="192x192">
        <% } %>
      <% } %>
      <% if (theme.favicon.apple) { %>
        <% if (theme.gravatar && (theme.gravatar.email || theme.gravatar.hash) && theme.favicon.apple.gravatar) { %>
          <% if (theme.gravatar.email) { %>
            <link rel="apple-touch-icon" sizes="180x180" href="<%= gravatar(theme.gravatar.email, 180) %>">
          <% } else { %>
            <link rel="apple-touch-icon" size="180x180" href="https://www.gravatar.com/avatar/<%= theme.gravatar.hash %>?s=180">
          <% } %>
        <% } else { %>
          <link rel="apple-touch-icon" sizes="180x180" href="<%= url_for(theme.favicon.apple.url) %>">
        <% } %>
      <% } %>
    <% } %>
    <!-- title -->
    <title><%= page_title() %></title>
    <!-- styles -->
    <%- css('css/style') %>
    <!-- persian styles -->
    <% if (theme.direction && theme.direction === 'rtl') { %>
      <%- css('css/rtl') %>
    <% } %>
    <!-- rss -->
    <% if (theme.rss === '' && config.feed && config.feed.path) { %>
      <% theme.rss = config.feed.path %>
    <% } %>
    <% if (theme.rss) { %>
      <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml" />
    <% } %>
	<!-- mathjax -->
	<% if (theme.mathjax.enabled) {%>
		<script type="text/x-mathjax-config">
		  MathJax.Hub.Config({
			tex2jax: {
			  skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
			  inlineMath: [['$','$']]
			}
		  });
		</script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
	<% } %>

	<% if (theme.firebase_like_button.enabled && page.layout == "post") {%>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-database.js"></script>
    <script>
    const firebaseConfig = {
      apiKey: "<%= theme.firebase_like_button.apiKey %>",
      authDomain: "<%= theme.firebase_like_button.authDomain %>",
      databaseURL: "<%= theme.firebase_like_button.databaseURL %>",
      projectId: "<%= theme.firebase_like_button.projectId %>",
      storageBucket: "<%= theme.firebase_like_button.storageBucket %>",
      messagingSenderId: "<%= theme.firebase_like_button.messagingSenderId %>",
      appId: "<%= theme.firebase_like_button.appId %>"
    };
    firebase.initializeApp(firebaseConfig);
  </script>
	<% } %>

  <script>
    (function (w, d, e, u, f, l, n) {
      w[f] = w[f] || function () {
        (w[f].q = w[f].q || [])
          .push(arguments);
      }, l = d.createElement(e), l.async = 1, l.src = u,
        n = d.getElementsByTagName(e)[0], n.parentNode.insertBefore(l, n);
    })
      (window, document, 'script', 'https://assets.mailerlite.com/js/universal.js', 'ml');
    ml('account', '363715');
  </script>
</head>
